[submodule "orsc_be_spi_echo_test/src/spi_stream"]
	path = orsc_be_spi_echo_test/src/spi_stream
	url = https://github.com/uwcms/spi-stream.git
[submodule "orsc_be_spi_echo_test/src/buffer-types"]
	path = orsc_be_spi_echo_test/src/buffer-types
	url = https://github.com/uwcms/buffer-types.git
[submodule "common/buffer-types"]
	path = common/buffer-types
	url = https://github.com/uwcms/buffer-types.git
[submodule "common/spi-stream"]
	path = common/spi-stream
	url = https://github.com/uwcms/spi-stream.git
[submodule "common/soft-ipbus"]
	path = common/soft-ipbus
	url = https://github.com/uwcms/soft-ipbus.git
